1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+

* is a mathematical operator
'hello' is a string value
-87.8 is a float value
- is a mathematical operator - subtraction
+ is a mathematical operator - addition 
6 is an int (integer) value

2. What is the difference between string and variable?

String is a value which can be put together in series like a script, whereas a variable is a string or alphanumeric type to which a value can be assigned or a function can be assigned, we afterwards can also call these variables in order to fetch the final results

3. Describe three different data types.

Following are the various dta types:-

String = 'Ab@23-xyZ', 'Jaideep', '2183.67'
int = 1, 2, 3, 4
float = 28.3, 41.01, 62.9
Boolean = True / False

4. What is an expression made up of? What do all expressions do?

Expressions are the mathematical symbols that are used to make arithmetic changes with the numbers and genrating various results out of it, in order to make calculations.

Following are the Expressions and their functions:-
+ Addition ,   a+b = c
- Subtraction, a-b = c
* Sum (Multiplication), a*b = c
/ Divion ,     a/b = c
% Remainder ,  a%b = c
** raise to the power , a**b = c

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression can be a combination of values, mathematical operators or varibales, that generates a result for eg p = 12, q = 23, r = 48, res = (p/r) + q
res is the Expresssion here giving a mathematical instruction that gives a single result

A statement is an struction given for eg a = 12, print(a)
here an int value is assigned to a and next step the print instruction is given for a

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [4]:
bacon = 22
bacon + 1

# After running the code the result is 23, as inital value assigned to bacon was 22(int), after the bacon statement had a addition of 1, 
# which results in 23

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [9]:
'spam' + 'spamspam' # this will result in 'spamspamspam', as in case of strings when the strings are added it results in concatenation
'spam' * 3     # this will result in 'spamspamspam' as string multiplies itslef when subjected to multiplication

# running these both will also result in 'spamspamspam' as it the first result is replaced by the second one 
# as both being the same there is no difference in the results

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Eggs is valid because its a string value which can be assigned as value as any mathematical operator or some value, but 100 is itself an int value, we cannot assign a operator or cannot put statement as a int value

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
# Following are the functions:-
a = 164

int(a)
float(a)
str(a)

'164'

10. Why does this expression cause an error? How can you fix it?
'I have eaten' +99+ 'burritos.'

In [16]:
# 'I have eaten' +99+ 'burritos.'
# We can concatenate only strings together

# solution: by putting the 99 int value in single or double inverted commas so that we can change the variable type to str/string
'I have eaten' +' 99 '+ 'burritos.'

'I have eaten 99 burritos.'